.navbar.dropdown-item {
  background-color: darken($main,5%);
  color: darken($main,25%);
}
.bg-main {
  background-color: #a5d6a7;
  color: white;
}
.bg-red-input {
  background-color: #ff5b77;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  }
.input-error{
  border-color: #ff5b77;
}
.margines-gora{
  margin-top: .8rem;
}