 a.page-link {
  background-color: lighten($body-bg,5%) !important;
  color:darken($body-bg,60%) !important; ;
}
 ul.pagination > li.disabled {
   background-color: lighten($body-bg,2%) !important;
   color:darken($body-bg,40%) !important; ;
 }
 .corrected {
   font-weight: 500;
   text-decoration: overline;
 }