/*
.navbar.dropdown-item {
  background-color: darken($main,5%);
  color: darken($main,25%);
}
.bg-main {
  background-color: #a5d6a7;
  color: white;
}
.bg-red-input {
  background-color: #ff5b77;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  }
.input-error{
  border-color: #ff5b77;
}
.margines-gora{
  margin-top: .8rem;
}*/
body{
  background-color: #787878;
  color:honeydew;
  font-size:1rem;
}
.naw {
  margin: 4.3rem auto 0 auto ;
  padding: 10px ;
  background-color: transparent;
  text-align: center;
  //border-top: 1px solid #751b1b;
  //border-bottom: 1px solid #751b1b;
  transition: 0.6s;
  border: none;
  border-radius: 0px !important;
  z-index: 1000;
  width : 95%;
  font-family: 'Prosto One', cursive;
  }



li.active a {
  border-bottom: 3px solid #ffffff;
  color: #018080;
  background-color: transparent !important;
}
.sticky {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #303030 !important;
  margin: 0;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #bbbbbb;
  text-decoration: underline;
}
.navbar-light .navbar-nav .active > .nav-link,.navbar-light .navbar-nav .nav-link , .navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-brand:hover{
  color:wheat;
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: #9b9b9b;
}
.navbar-light .navbar-toggler {
  color:wheat !important;
  border-color: #AEAEAE;
}
.duze {
  background: transparent;

}

h1, h2,h3,h4,h5,h6 {
  font-family: 'Prosto One', cursive;
}

h1.wielkie {

  background: transparent;
  color:honeydew;
  font-family: 'Black Ops One', cursive;
  text-shadow: 2px 2px 4px black;
  margin-left: 6rem;
  font-size: 6rem;
}
.duze h1 {
  margin-left: 6rem;

}
.naglowek {
  background-image: url('http://czolgi.dev/ilu/nowe/naglowek.jpg');
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  height: 20rem;
  padding: 0 0 5rem 0;
  box-shadow: 0 5px 7px -4px #1a1a1a;
}
.side-center, .side-left , .side-right {

  color:honeydew;
  text-align: justify;
}
.calosc {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: #666666;

}
div.card , div.card-block , div.card-header  {
  background: #666666 !important;
  border: none;
}